@import '../../variables.css';

.navMenu.ui.menu {
  border-radius: 0px !important;
  /*min-height: 65px;*/
}

.navMenu.ui.menu .item,
.navMenu .ui.item.dropdown .menu.transition.visible {
  border-radius: 0px !important;
}

.navMenu.ui.menu.menu {
  padding-right:20px;
}

.navMenu.ui.menu .header.item {
  margin:1px;
}

.navMenu.ui.menu .right .menu.transition {
  font-size: 1.1rem;
}

.navMenu.ui.menu {
  /*height: 80px !important;*/
  border-bottom: 1px solid var(--light-blue);
  /*max-height:88px;*/
}

/*.ui.grid.navMenu > .column:not(.row) {
  padding-top: 5px;
  padding-bottom: 0px;
}*/

.navMenu.ui.secondary.menu .item.nopad {
  padding-top: 10;
  padding-bottom: 5px;
}

/*.ui.secondary.menu a.item {
  border: 1px solid #fff;
}

.ui.secondary.menu a.item.active, .ui.secondary.menu a.item:hover {
  border: 1px solid var(--main-color) !important;
}*/

.navMenu.ui.blue.menu a.header.item.active,
.ui.vertical.sidebar.menu a.header.item.active {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  color:#fff !important;
  font-weight: bold;
}

.navMenu.ui.blue.menu a.header.item:hover,
.ui.vertical.sidebar.menu a.header.item:hover,
.navMenu .ui.item.dropdown .menu.transition.visible a.item:hover,
.navMenu .ui.item.dropdown:hover {
  background-color: var(--light-blue) !important;
  border-color: var(--light-blue) !important;
  color:#fff !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navMenu .ui.item.dropdown:hover {
  padding: 7.1px 15.786px;
}

.navMenu .ui.item.dropdown .menu.transition.visible {
  margin:0;
  border-color: var(--light-blue) !important;
}
.navMenu.ui.secondary.menu .item.dropdown {
  padding: 7.1px 15.786px;
}
