@import '../../variables.css';

.ui.menu {
  border-radius: 0px !important;
  /*min-height: 65px;*/
}
.ui.menu .item {
  border-radius: 0px !important;
}

.ui.menu.menu {
  padding-right:20px;
}

.ui.menu .header.item {
  margin:1px;
}

.ui.navMenu.menu {
  /*height: 80px !important;*/
  border-bottom: 1px solid var(--light-blue);
  /*max-height:88px;*/
}

.ui.grid.navMenu > .column:not(.row) {
  padding-top: 5px;
  padding-bottom: 0px;
  /*height: 90px !important;*/
}

.ui.secondary.menu .item.nopad {
  padding-top: 10;
  padding-bottom: 5px;
}

/*.ui.secondary.menu a.item {
  border: 1px solid #fff;
}

.ui.secondary.menu a.item.active, .ui.secondary.menu a.item:hover {
  border: 1px solid var(--main-color) !important;
}*/

.ui.blue.menu a.header.item.active,
.ui.vertical.sidebar.menu a.header.item.active {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  color:#fff !important;
  font-weight: bold;
}

.ui.blue.menu a.header.item:hover,
.ui.vertical.sidebar.menu a.header.item:hover {
  background-color: var(--light-blue) !important;
  border-color: var(--light-blue) !important;
  color:#fff !important;
}

/*-------------------
        Active
--------------------*/

/*.ui.active.label {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  background-image: none;
  color: rgba(0, 0, 0, 0.95);
}

.ui.active.label:before {
  background-color: #D0D0D0;
  background-image: none;
  color: rgba(0, 0, 0, 0.95);
}*/



/*-------------------
     Active Hover
--------------------*/

/*a.ui.labels .active.label:hover,
a.ui.active.label:hover {
  background-color: #00aeef;
  border-color: #00aeef;
  background-image: none;
  color: rgba(0, 0, 0, 0.95);
}

.ui.labels a.active.label:ActiveHover:before,
a.ui.active.label:ActiveHover:before {
  background-color: #00aeef;
  background-image: none;
  color: rgba(0, 0, 0, 0.95);
}*/

/*.ui.menu .item {
  margin:0;
  padding:0 !important;
  width:116px;
}*/
