@import './variables.css';

.App {
  text-align: center;
}

body {
  font-size: 1rem;
  font-family: var(--font-content)
}

a {
  color: var(--medium-blue)
}
a:hover {
  color: var(--bright-medium-blue)
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--main-border);
  margin: 1em 0;
  padding: 0;
}

.borderTopLight {
  border-top: 1px solid var(--main-border-light);
}

ul.custom-list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
}

.left {
  float:left;
}
.right {
  float:right;
}
.clear {
  clear:both;
}

.leftSidebarList {
  float: left;
  max-width: 60%;
}

.rightSidebarList {
  float: right;
  max-width: 40%;
}

.disabled {
  pointer-events:none;
  opacity:0.6;
}

.box .custom-list {
  overflow:hidden;
  width: 100%;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabSelect {
  margin-right: 1rem;
}

.tabViews > .tabSelect > .label {
  border: 1px solid var(--light-blue) !important;
}

.activeTab .ui.big.label {
  background-color: var(--light-blue) !important;
}

.activeTab .ui.big.label .header {
  color: #fff !important;
}

/*Semantic UI modal position fix*/
.visible.transition {
  display: unset !important;
}
.dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: -ms-flexbox;
  display: flex !important;
  opacity: 1;
}

.ui.container.grid.wrapper {
  max-width: 1020px !important;
  padding-top: 10px;
}

.ui.grid > .row.header-row {
  padding-bottom: 0;
}

.ui.divider.section {
  border-top: 1px solid var(--main-border);
  color: var(--main-border);
}

.ui.segment .ui.divider.header {
  margin: 0 -14px 5px -14px;
}

.ui.segment.box {
  min-height: 100px !important;
}

.ui.segment.head {
  border-bottom: none !important;
}

.ui.label.head {
  border-bottom: 1px solid var(--main-border);
  background-color: #fff;
  color: var(--medium-blue)
}

.ui.top.attached.label:first-child + :not(.attached) {
  margin-top: 2.5rem !important;
}

.ui.grid > .row.noPadBottom {
  padding-bottom: 0;
}

.ui.header.noMarginTop {
  margin-top: 0;
}

.ui.small.modal {
  width: 480px;
}


.ui.header, .ui.card .header {
  color: var(--medium-blue) !important;
}

.ui.header .label {
  margin-left: 0 !important;
}

.ui.blue.label .header {
  color: #fff !important;
  margin-top: 0;
  line-height: 1.0em;
}

.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid var(--main-border);
}

/*.ui.grid .row + .ui.divider {
  margin: 0 1rem;
}*/

.manage .ui.form .fields {
  margin-bottom: 0;
}

.ui.segment, .ui.segments, .ui.menu, .ui.card, .ui.form input[type="text"], .ui.button, .ui.label, .ui.table, .ui.dropdown {
    /*border-radius: 3px !important;*/
}

.ui.card {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--main-border) !important;
}

.ui.segment, .ui.table {
  -webkit-box-shadow: 0px 1px 2px 0 var(--main-border) !important;
  box-shadow: 0px 1px 2px 0 var(--main-border) !important;
  border: 1px solid var(--main-border) !important;
}

.ui.segments {
  -webkit-box-shadow: none var(--main-border) !important;
  box-shadow: none var(--main-border) !important;
  border: none var(--main-border) !important;
}

.ui.selection.dropdown {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--main-border) !important;
  /*padding: 12px*/
  /*min-height: 2.5em;*/
}


/* Vertically Divided */

.ui[class*="vertically divided"].grid > .row:before {
  -webkit-box-shadow: none var(--main-border) !important;
  box-shadow: none var(--main-border) !important;
  border-top: none;
}

.ui.blue.button {
  background-color: var(--light-blue) !important;
}

.ui.blue.button:hover {
  background-color: var(--dark-blue) !important;
}

i.blue.icon {
  color: var(--light-blue) !important;
}

i.blue.icon:hover {
  color: var(--dark-blue) !important;
}
