@import '../../../variables.css';

.manage .ui.grid > .row.header-row {
  padding-bottom: 0;
}



.manage .ui.divider {
  border-top: 1px solid var(--main-border);
  color: var(--main-border);
}

.manage .ui.grid .row + .ui.divider {
  margin: 0 1rem;
}

.manage .ui.segment.errored {
  -webkit-box-shadow: none #f00000 !important;
  box-shadow: none #f00000 !important;
  border: 1px solid #f00000 !important;
  color: orange;
}

/*.manage .ui.form input[type="text"] {
  border-radius: 0px !important;
}*/
