@import '../../../variables.css';

.manage .ui.segment.groupList {
  min-height: 200px !important;
  max-height: 300px !important;
}

.manage .ui.segment.errored {
  -webkit-box-shadow: none #f00000 !important;
  box-shadow: none #f00000 !important;
  border: 1px solid #f00000 !important;
  color: orange;
}

.manage .ui.card .content:first-child {
  padding-bottom: 0;
}

.manage .ui.form .fields.user-access {
    margin-top: 1rem;
}

.manage div.meta {
  line-height: 1.5rem;
}

.manage .blue.delete.icon:hover {
  color: var(--red) !important;
}

.manage .green.plus.icon:hover {
  color: var(--dark-green) !important;
}

.manage .red.delete.icon:hover {
  color: var(--dark-red) !important;
}
