@import '../../../variables.css';

.main .recActivity .segment {
  max-width: 300px;
}

.sidebar .column {
  min-width: 200px;
}

.ui.grid > .row.reducePad {
  padding-bottom: 0;
}

.home .ui.segment.nopad  {
  padding: 0;
}

.home .ui.segments.box {
  min-width: 165px
}

.home .recPost {
  padding: 5px 10px;
}
.home .recPost:not(:first-child) {
  border-top: 1px solid #ddd;
}

.home hr {
  margin: 0;
  padding: 0;
}

.activeTab .ui.big.label {
  background-color: var(--light-blue) !important;

}
.activeTab .ui.big.label .header {
  color: #fff !important;
}
