/** {box-sizing: border-box}*/

.recentBox {
  position: relative;
  width: 100%;
}

/*.recentBox .image {
  display: block;
  width: 100%;
  height: auto;
}*/

.cropImage {
  max-height: 250px;
  overflow: hidden;
}

.overlayImage {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  opacity:1;
  font-size: 1.1rem;
  padding: 0.5rem;
  /*height: 50%;*/
  text-overflow: hidden;
  white-space: wrap;
  overflow: hidden;
  /*width:60%:*/
  min-height: 0%;
}

/*.recentBox:hover .overlayImage {
  height:auto;
  min-height:100%;
  transition: min-height 0.25s ease-in;
}*/

.overlayImage .recentTitle {
  font-size: 1.5rem;
  /*max-width:60% !important;*/
}

.overlayImage a {
  color: #f1f1f1;
}



.overlayImage a:hover {
  color: #d1d1d1;
}

/*works*/
/*div.overlayImage {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: auto;
}*/

/*.ui.segment.recentBox .overlay span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}*/
