.infiniteEl .postBox {
  position: relative;
  width: 100%;
}

.infiniteEl .cropImage {
  max-height: 250px;
  overflow: hidden;
}

.infiniteEl .overlayImage {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  opacity:1;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-overflow: hidden;
  white-space: wrap;
  overflow: hidden;
  min-height: 0%;
  max-height: 100%;
}

.infiniteEl .overlayImage .recentTitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: relative;
  display: block;
  color: #838485;
  max-width: 24rem;
  min-width: 0rem;
  min-height: 0%;
  max-height: 100%;
  overflow: hidden;
  white-space: normal;
}

.infiniteEl .overlayImage .recentTitle .titleContent {
  position: relative;
  display: block;
  max-height: 6.2rem;
}

.infiniteEl .overlayImage a {
  color: #f1f1f1;
}

.infiniteEl .overlayImage a:hover {
  color: #d1d1d1;
}
