.comments {
  margin: 0 -3rem 1rem -3rem;
  font-size: 1.1rem;
}

.comments > ul {
  padding: 0;
}

.comments ul {
  list-style: none;
}

.comments .commentBody ul {
  list-style: disc outside none;
}

.comments > ul > li, .comments > ol > li {
  margin-top: 1.5rem;
}
