.comment {
  /*padding: 0.5rem;*/
  display: block;
}
.comment > ul {
  float: left;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /*font-size: 1.1rem;*/
}

.comment > ul > li {
  list-style-position: inside;
}

.comment > ol > li, .comment > ol > li {
  line-height: 1.1rem;
}

ul.repliesNoIndent {
  list-style: none;
  padding-left: 0;
}

ul.commentList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /*font-size: 1rem;*/
  float: left;
  width:100% !important;
}

ul.commentList > li {
  list-style-position: inside;
}

.commentAvatar {
  /*float: left;*/
  margin-right: 0.5rem;
}

.commentContent {
  float: right;
  width:100% !important;
}

.commentHead {
}

.commentFooter {
  font-size: 1rem;
}

.replyForm {
  font-size: 1.1rem;
}

.replyForm .ui.form textarea {
  max-width: 100% !important;
}

.replyForm .button {
  margin-top: 0.5rem;
}

.replyPreviewHeader {
  margin-top: 1rem;
}

.replyPreview {
  border: 1px solid var(--soft-grey);
  padding: 1rem;
}
