@import '../../../../variables.css';

.Body {
  font-size: 1.37rem;
  overflow-wrap: break-word;
}

.Body h1, h2, h3, h4, h5, h6 {
  /*font-family: var(--font-content);*/
  font-weight: 600;
}

.Body h1 {
  margin: 2.5rem 0 .3rem;
  font-size: 2.5rem;
}
.Body h2 {
  margin: 2.5rem 0 .3rem;
  font-size: 2.2rem;
}
.Body h3 {
  margin: 2rem 0 0.3rem;
  font-size: 1.8rem;
}
.Body h4 {
  margin: 1.5rem 0 0.2rem;
  font-size: 1.6rem;
}
.Body h5 {
  margin: 1rem 0 0.2rem;
  font-size: 1.4rem;
}
.Body h6 {
  margin: 1rem 0 0.2rem;
  font-size: 1.2rem;
}

.Body code {
  padding: 0.2rem;
  font-size: 85%;
  border-radius: 3px;
  border: none;
  background-color: #F4F4F4;
  font-weight: inherit;
  overflow: scroll;
}

.Body blockquote {
  overflow: auto;
  margin-bottom: 14px;
  /*line-height: 1em;*/
  /*background-color: #fbfbfb;*/
  color: var(--medium-grey);
  line-height: 1.6rem;
  margin-left: 1rem;
  border-left: 1px solid var(--soft-grey);
  padding-left: 0.8rem;
}

.Body pre > code {
  display: block;
}

.Body strong {
  font-weight: 600;
}

.Body ul {
  list-style: disc outside none;
}

.Body ol, .Body ul {
  /*margin-left: 0.5rem;*/
  margin-bottom: 1rem;
}

.Body ul > li, .Body ol > li {
  line-height: 1.8rem;
}

.Body table td {
  word-break: normal;
}

.Body p {
  font-size: 100%;
  line-height: 160%;
  margin: 0 0 0.7rem 0;
}

.Body img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: none;
}

.Body iframe {
  max-width: 100%;
  max-height: 75vw;
}

.Body hr {
  clear: both;
}

div.pull-right {
  float: right;
  padding-left: 1rem;
  max-width: 50%;
}

div.pull-left {
  float: left;
  padding-right: 1rem;
  max-width: 50%;
}

div.text-justify {
  text-align: justify;
}

div.text-right {
  text-align: right;
}

div.text-center {
  text-align: center;
}

div.text-rtl {
  direction: rtl;
}
