@import '../../../variables.css';

.post-actions .meta {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  float: left;
}

.post-actions .item {
  line-height: 1;
  margin: 5px 10px 0 0;
  list-style-position: inside;
  border-left: 1px solid var(--main-border);
  padding-left: 10px;
}

.post-actions .item:first-child {
  border-left: none;
  padding-left: 0;
}

.post-actions .right {
  font-size: 1rem;
}

.post-actions .item a {
  color: var(--charcoal-grey);
}

.post-actions .large.icon {
  /*color: var(--pale-blue);*/
  color: var(--action-grey);
  font-size: 1.2em;
  /*opacity: 0.6;*/
}
.post-actions .large.icon:hover {
  color: var(--light-blue);
  /*opacity: 1;*/
}

/*.post-actions .groupPick {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  float: right;
}

.post-actions .groupItem {
  line-height: 1;
  margin: 0 10px 0 0;
  list-style-position: inside;
  float: right;
}*/

.post-actions .ui.form .fields {
  margin:0;
}

.post-actions .ui.mini.form {
  font-size: 0.9em;
}

.post-actions .ui.selection.dropdown {
  min-height: 1em;
  line-height:1em;
  padding: 0.5em 2.1em 0.5em 1em;
  min-width: 12em;
}

.post-actions .ui.selection.dropdown > .dropdown.icon {
  line-height:1em;
  top:inherit;
}

.ui.dropdown .menu > .item {
  font-size: 1em;
}

.item.payout {
  color: var(--charcoal-grey);
  font-weight: bold;
}

.item.upvote .chevron.up.circle:hover {

}

.chevron.up.circle.votedOn {
  color: var(--light-blue);
}
