@import '../../../variables.css';

.vslider {
  position: relative;
  display: inline-block;
  top: -41px;
  left: -18px;
}

.vslider .vslider-show {
  visibility: hidden;
  min-width: 145px;
  z-index: 1000;
  display: block;
  position: absolute;
  padding: 2px;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  background: #fff;
}

.vslider .showing.vslider-show {
  visibility: visible;
}

.change-weight {
  padding: 10px 10px 10px 10px;
  width: 350px;
  min-width: 320px;
  overflow: hidden;
}

.change-weight > ul {
  float: left;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.change-weight > ul > li {
  list-style-position: inside;
}


.weight-display {
  width: 3rem;
  float: left;
  margin-right: 0.5rem;
  text-align: right;
  color: var(--charcoal-grey);
  line-height: 3.5rem;
}

.accept-weight {
  line-height: 3.4rem;
}

.rangeslider {
  position: relative;
  float: left;
  background: #e6e6e6;
}
.rangeslider .rangeslider__fill, .rangeslider__handle {
  position: absolute;
}
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}
.rangeslider .rangeslider__handle:active {
  background: var(--main-border);
  box-shadow: none;
}
.rangeslider-horizontal {
  height: 10px;
  width: 200px;
  background: none;
  float: left;
  margin-top: 18px;
}
.rangeslider.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: var(--pale-blue);
  box-shadow: none;
  left: 0;
}
.close-weight {
  line-height: 3.4rem;
  margin-left: 5px;
}
