@import '../../../variables.css';

.authorCatTime .info {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.authorCatTime .item {
  line-height: 1.7em;
  margin: 0;
  padding: 0;
}

.authorCatTime .item.author a {
  color: var(--charcoal-grey);
}

.authorCatTime .item.author a:hover {
  color: var(--bright-medium-blue);
}

.authorCatTime ul.info li {
  color: var(--medium-grey);
  font-size: 1.1em;

  &:last-child {
    margin-bottom: 0;
  }
}
