@import '../../../variables.css';

.postSummary {
  margin-bottom: 1rem;
}

.postSummary .block {
  display: flex;
  margin-top: 0.3em;
}

.postSummary .thumbnail {
  padding-right:10px;
  height: auto;
  max-width: 100%;
}

.summary-content {
  margin-left: 0.2rem;
  min-width: 0;
  width: 100%;
}

.summary-content .description {
  overflow: hidden;
  width: 100%;
}

.summary-content a {
  color: var(--soft-black);
}

.summary-content h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0;
  margin-bottom: 0.2rem;
  font-family: var(--font-content);
}

.summary-content p {
  font-size: 1.16rem;
  margin: 0.2rem 0 0.5rem 0;
}

.summaryDivider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--main-border-light);
  margin: 1em 0;
  padding: 0;
}

.infSummary .postBox {
  position: relative;
  width: 100%;
}

.infSummary .cropImage {
  min-height: 200px;
  max-height: 250px;
  overflow: hidden;
}

.infSummary .overlayImage {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  opacity:1;
  font-size: 1.1rem;
  padding: 0.8rem;
  text-overflow: hidden;
  white-space: wrap;
  overflow: hidden;
  min-height: 0%;
  max-height: 100%;
}

.infSummary .overlayImage .recentTitle {
  font-size: 1.5rem;
  line-height: 1.6rem;
  position: relative;
  display: block;
  color: #838485;
  max-width: 32rem;
  min-width: 0rem;
  min-height: 0%;
  max-height: 100%;
  overflow: hidden;
  white-space: normal;
  margin-bottom:0.5rem;
}

.infSummary .overlayImage .recentTitle .titleContent {
  position: relative;
  display: block;
  max-height: 6.2rem;
}

.infSummary .overlayImage a {
  color: #f1f1f1;
}

.infSummary .overlayImage a:hover {
  color: var(--bright-medium-blue);
}

.postBox .info .author,
.postBox .info .tag,
.postBox .info .timeago,
.postBox .post-actions .payout {
  color: #d1d1d1;
}

.postBox .post-actions, .postBox .info {
  margin-top: 0.5rem;
}

.postBox .timeago {
  text-align: right;
}

.postBox ul.info {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.descriptionBox {
  border-radius: 10px !important;
  -webkit-box-shadow: 0px 1px 2px 0 var(--main-border) !important;
  box-shadow: 0px 1px 2px 0 var(--main-border) !important;
  border: 1px solid var(--main-border) !important;
  overflow: hidden;
}

.infSummary .description {
  font-size: 1.2rem;
  padding: 0.8rem;
}

.infSummary .description a {
  color: var(--charcoal-black);
}
.infSummary .description a:hover {
  color: var(--bright-medium-blue);
}

.descriptionBox .resteemers {
  padding: 0.8rem 0.8rem 0 0.8rem;
}
