@import '../../../variables.css';

.postSummary {
  margin-bottom: 1rem;
}

.postSummary .block {
  display: flex;
  margin-top: 0.3em;
}

.postSummary .thumbnail {
  padding-right:10px;
  height: auto;
  max-width: 100%;
}

.summary-content {
  margin-left: 0.2rem;
  min-width: 0;
  width: 100%;
}

.summary-content .description {
  overflow: hidden;
  width: 100%;
}

.summary-content a {
  color: var(--soft-black);
}

.summary-content h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0;
  margin-bottom: 0.2rem;
  font-family: var(--font-content);
}

.summary-content p {
  font-size: 1.16rem;
  margin: 0.2rem 0 0.5rem 0;
}

.summaryDivider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--main-border-light);
  margin: 1em 0;
  padding: 0;
}

.infSummary .postBox {
  position: relative;
  width: 100%;
  border-radius: 6px !important;
  -webkit-box-shadow: 0px 1px 2px 0 var(--main-border) !important;
  box-shadow: 0px 1px 2px 0 var(--main-border) !important;
  border: 1px solid var(--main-border) !important;
  overflow: hidden;
  padding: 0 0.8rem 0.8rem 0.8rem;
}

.infSummary .cropImage {
  margin: 0 -0.8rem 0.5rem -0.8rem;
}

.infSummary .title {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

.infSummary .post-actions {
  margin-top: 1rem;
}

.infSummary .description {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.infSummary .title a, .infSummary .description a {
  color: var(--charcoal-black);
}

.infSummary .title a:hover, .infSummary .description a:hover {
  color: var(--bright-medium-blue);
}

.postBox .resteemers {
  padding: 0.8rem 0;
}
