@import '../../../variables.css';

.infSummary .postBox {
  position: relative;
  width: 100%;
}

.infSummary .cropImage {
  min-height: 200px;
  max-height: 250px;
  overflow: hidden;
}

.infSummary .overlayImage {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
  opacity:1;
  font-size: 1.1rem;
  padding: 0.8rem;
  text-overflow: hidden;
  white-space: wrap;
  overflow: hidden;
  min-height: 0%;
  max-height: 100%;
}

.infSummary .overlayImage .recentTitle {
  font-size: 1.5rem;
  line-height: 1.6rem;
  position: relative;
  display: block;
  color: #838485;
  max-width: 32rem;
  min-width: 0rem;
  min-height: 0%;
  max-height: 100%;
  overflow: hidden;
  white-space: normal;
  margin-bottom:0.5rem;
}

.infSummary .overlayImage .recentTitle .titleContent {
  position: relative;
  display: block;
  max-height: 6.2rem;
  line-height: 1.7rem;
}

.infSummary .overlayImage a {
  color: #f1f1f1;
}

.infSummary .overlayImage a:hover {
  color: var(--bright-medium-blue);
}

.infSummary .postBox .info .author,
.infSummary .postBox .info .tag,
.infSummary .postBox .info .timeago,
.infSummary .postBox .post-actions .payout {
  color: #d1d1d1;
}

.infSummary .postBox .post-actions, .postBox .info {
  margin-top: 0.5rem;
}

.infSummary .postBox .item {
  line-height: inherit;
}

.infSummary .postBox .timeago {
  text-align: right;
}

.infSummary .postBox ul.info {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.infSummary .descriptionBox {
  border-radius: 10px !important;
  -webkit-box-shadow: 0px 1px 2px 0 var(--main-border) !important;
  box-shadow: 0px 1px 2px 0 var(--main-border) !important;
  border: 1px solid var(--main-border) !important;
  overflow: hidden;
}

.infSummary .description {
  font-size: 1.2rem;
  padding: 0.8rem;
}

.infSummary .description a {
  color: var(--charcoal-black);
}
.infSummary .description a:hover {
  color: var(--bright-medium-blue);
}

.descriptionBox .resteemers {
  padding: 0.8rem 0.8rem 0 0.8rem;
}
