@import '../../../variables.css';

.postSummary {
  margin-bottom: 1rem;
}

.block {
  display: flex;
  margin-top: 0.3em;
}

.thumbnail {
  padding-right:10px;
  height: auto;
  max-width: 100%;
}

.summary-content {
  margin-left: 0.2rem;
  min-width: 0;
  width: 100%;
}

.summary-content .description {
  overflow: hidden;
  width: 100%;
}

.summary-content a {
  color: var(--soft-black);
}

.summary-content h4 {
  font-size: 1.25rem;
  line-height: 1.4rem;
  padding: 0;
  margin-bottom: 0.2rem;
  font-family: var(--font-content);
}

.summary-content p {
  font-size: 1.15rem;
  margin: 0.2rem 0 0.5rem 0;
}

.summaryDivider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--main-border-light);
  margin: 1em 0;
  padding: 0;
}
